/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dancing+Script:wght@400..700&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
}

body {
    background-color: black;
}

/* ----------------------------------Shared Style-------------------------- */
.display-flex {
    display: flex;
}

.primary-btn {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    color: white;
    border: none;
}

/*---------------------------- Navber Style----------------------- */
.header {
    margin-top: 57px;
}

.navber,
.banner {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}


.nav-item {
    list-style: none;
}

.fitness {
    font-weight: 800;
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
}

.nav-links {
    align-items: center;
    border: 1px solid rgb(168, 166, 166);
    padding: 1px 20px 1px 1px;
    border-radius: 39px;
    gap: 47px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(66, 66, 66);
}

.nav-btn {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
}

/* ----------------------------banner Section Style----------------------------- */
.banner {
    gap: 167px;
    margin-top: 32px;
    width: 100%;
}

.banner-title {
    font-size: 5rem;
    font-weight: 900;
    color: white;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
}

.banner-btn {
    margin-top: 28px;
}

.download-btn {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 42px;
    background: black;
    padding: 16px 40px;
    color: white;
    border: 1px solid white;
    margin-left: 14px;
}

/* #workout-btn{
    padding: 20px 23px;
    border: none;
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
}
#workout-btn-title{
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
}
#workout-btn-description{
    font-weight: 400px;
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 8px;
} */


.dots{
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
  }
#video-tutorial-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px 23px;
    border: none;
    border-radius: 12px;
    margin-top: -150px;
    margin-left: -100px;
    background: rgba(48, 48, 48, 0.54);
}
#video-tutorial-title{
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
}
#video-tutorial-description{
    font-weight: 400px;
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 8px;
}